#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1
export QT_SELECT=qt5
export PYTHONPATH=`pwd`/python/:$PYTHONPATH

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --parallel


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_configure:
	echo `dh_auto_configure --no-act -- |sed -e 's/-nocache//'`
	eval `dh_auto_configure --no-act -- |sed -e 's/-nocache//'`

override_dh_install:
	cd packages/pyms/basic \
	&& g++ -O3 -Wall -shared -std=c++11 -fPIC `python3 -m pybind11 --includes` basic_cpp.cpp -o basic_cpp`python3-config --extension-suffix` -I../mlpy `python3-config --cflags --ldflags` && g++ -O3 -Wall -shared -std=c++11 -fPIC `python3 -m pybind11 --includes` bandpass_filter_cpp.cpp bandpass_filter_kernel.cpp -o bandpass_filter_cpp`python3-config --extension-suffix` -I../mlpy `python3-config --cflags --ldflags` -fopenmp -lfftw3 && cd ../../../
#	PYTHONPATH=`pwd`/debian/python/ packages/pyms/basic/basic.mp spec > /dev/null
	dh_install
	sed -i -e 's#python3#/usr/bin/python3#' debian/mountainsort-pyms/opt/mountainlab/packages/pyms/basic/basic.mp
	sed -i -e 's#python3#/usr/bin/python3#' debian/mountainsort-pyms/opt/mountainlab/packages/pyms/curation/curation.mp
	sed -i -e 's#python3#/usr/bin/python3#' debian/mountainsort-pyms/opt/mountainlab/packages/pyms/synthesis/synthesis.mp
	sed -i -e 's#python3#/usr/bin/python3#' debian/mountainsort-pyms/opt/mountainlab/packages/pyms/validation/validation.mp

